{% extends "leyout.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block slider %}
<div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Sipariş Numarası</th>
                                            <th>Sipariş Tarihi</th>
                                            <th>İsim Soyisim</th>
                                            <th>TC</th>
                                            <th>Telefon</th>
                                            <th>Adres , Şehir , Posta Kodu</th>
                                            <th>Fatura Tipi</th>
                                            <th>Ürünler</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in alinan_siparisler %}

                                        <tr class="odd gradeX">
                                            <td>{{i.siparis_numarasi}}</td>
                                            <td>{{i.kayit_tarihi}}</td>
                                            <td>{{i.siparis_sahibi_bilgileri.isim}} {{i.siparis_sahibi_bilgileri.soyisim}}</td>                  
                                            <td>{{i.siparis_sahibi_bilgileri.vergi_tc}}</td>
                                            <td>{{i.siparis_sahibi_bilgileri.telefon}}</td>
                                            <td>{{i.siparis_sahibi_bilgileri.adres}} , {{i.siparis_sahibi_bilgileri.sehirler}} , {{i.siparis_sahibi_bilgileri.zip_kodu}}</td>
                                            <td>{% if i.siparis_sahibi_bilgileri.faturatipi %}
                                              Kurumsal Fatura
                                            {% else %}
                                            Bireysel Fatura
                                            {% endif %}</td>
                                            <td>{% if i.siparis_sahibi_bilgileri.kayitli_kullanici %}
                                              {% urun_gosterecek_kayitli i.siparis_sahibi_bilgileri.kayitli_kullanici %}
                                            {% else %}
                                            {% endif %}</td>
                                          </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>

<!-- The Modal -->
<div class="modal" id="logo">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{sosyalmedya}} Ekle</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" >
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
            {{Email_ekle.media}}
            {{Email_ekle|crispy}}
            <br><br><br>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">iptal</button>
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Ekle</button>    
        </form>
      </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        
    </div>

    </div>
  </div>
</div>
<hr>

{% endblock slider %}