{% extends "leyout.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block slider %}
<div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Sipariş Numarası</th>
                                            <th>Ödeme Tipi</th>
                                            <th>Sipariş Tarihi</th>
                                            <th>İsim Soyisim</th>
                                            <th>TC</th>
                                            <th>Telefon</th>
                                            <th>Adres , Şehir , Posta Kodu</th>
                                            <th>Fatura Tipi</th>
                                            <th>Ürünler</th>
                                            <th>Kargola</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in alinan_siparisler %}

                                        <tr class="odd gradeX">
                                            <td>{{i.siparis_numarasi}}</td>
                                            <td>{{i.siparis_sahibi_bilgileri.payment}}</td>
                                            <td>{{i.kayit_tarihi}}</td>
                                            <td>{{i.siparis_sahibi_bilgileri.isim}} {{i.siparis_sahibi_bilgileri.soyisim}}</td>                  
                                            <td>{{i.siparis_sahibi_bilgileri.vergi_tc}}</td>
                                            <td>{{i.siparis_sahibi_bilgileri.telefon}}</td>
                                            <td>{{i.siparis_sahibi_bilgileri.adres}} , {{i.siparis_sahibi_bilgileri.sehirler}} , {{i.siparis_sahibi_bilgileri.zip_kodu}}</td>
                                            <td>{% if i.siparis_sahibi_bilgileri.faturatipi %}
                                              Kurumsal Fatura
                                            {% else %}
                                            Bireysel Fatura
                                            {% endif %}</td>
                                            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#logo{{i.id}}">Alınan Ürünleri Göster</button></td>
                                            {% if i.kargo %}
                                              <td><a style="color:red;" href="/yonetim/korgolamaislemi/{{i.id}}">Kargola</a> </td>
                                            {% else %}
                                            <td><a href="/yonetim/korgolamaislemi/{{i.id}}">Kargola</a> </td>
                                            {% endif %}
                                             
                                          </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
{% for i in alinan_siparisler %}
<!-- The Modal -->
<div class="modal" id="logo{{i.id}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Alınan ürünler</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" >
        <b>#Sipariş Ödeme Yöntemi: {{i.siparis_sahibi_bilgileri.payment}}</b>
        <br>
        <b>#Sipariş Sahibinin Adı Soyadı : {{i.siparis_sahibi_bilgileri.isim}} {{i.siparis_sahibi_bilgileri.soyisim}}</b>
        <br>
        <b>#Şipariş Veren Vergi Veya Tc : {{i.siparis_sahibi_bilgileri.vergi_tc}}</b>
        <br>
        <b>#Telefon Numarası : {{i.siparis_sahibi_bilgileri.telefon}}</b>
        <br>
        <b>#Adres Bilgisi : {{i.siparis_sahibi_bilgileri.adres}} , {{i.siparis_sahibi_bilgileri.sehirler}} , {{i.siparis_sahibi_bilgileri.zip_kodu}}</b>
        <br>
        <hr>
          <h4 class="text-center">Ürünler </h4>

          <table class="table">
            <thead>
              <tr>
                <th>Fotoğrafı</th>
                <th>Adet</th>
                <th>Ürün</th>
              </tr>
            </thead>
            <tbody>
              {% if i.kayitli_kullanici %}
              {% urun_gosterecek_kayitli i.kayitli_kullanici.id %}
            {% else %}
              {% urun_gosterecek_kayitli_bilgi i.kayitli_olmayan_kullanici.id %}
            {% endif %}
              
            </tbody>
          </table>
        
              
        
      </div>

      

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">iptal</button>
        {% if i.kargo %}
            
          {% else %}
          <a class="btn btn-success"  href="/yonetim/korgolamaislemi/{{i.id}}">Kargola</a>
          {% endif %}
      </div>
    </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock slider %}