{% extends "leyout.html" %}
{% load crispy_forms_tags %}
{% block slider %}
<div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Şirketin {{sosyalmedya}}   (Her zaman Durumu True Olan )
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#logo">{{sosyalmedya}}  Ekle</button>
                                    <thead>
                                        <tr>
                                            <th>{{sosyalmedya}} Resmi</th>
                                            <th>{{sosyalmedya}} İsim Soyisim</th>
                                            <th>{{sosyalmedya}} Meslek</th>
                                            <th>{{sosyalmedya}} tw adresi</th>
                                            <th>{{sosyalmedya}} Facebook adresi</th>
                                            <th>{{sosyalmedya}} İnstagram adresi</th>
                                            <th>{{sosyalmedya}} Linkedin adresi</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in medya %}

                                        <tr class="odd gradeX">
                                            {% if i.image %}
                                                <td><img width="300" src="{{i.image.url}}" alt=""> </td>
                                            {% else %}
                                            <td>Resim Ekleyin Hata Alırsınız Yoksa</td>
                                            {% endif %}
                                            
                                            <td>{{i.isim_soyisim}}</td>
                                            <td>{{i.meslek}}</td>
                                            <td><a  href="{{i.tw}}" target="_blank" class="btn btn-primary">{{i.tw}}</a></td>
                                            <td><a  href="{{i.face}}" target="_blank" class="btn btn-primary">{{i.face}}</a></td>
                                            <td><a  href="{{i.insta}}" target="_blank" class="btn btn-primary">{{i.insta}}</a></td>
                                            <td><a  href="{{i.linkd}}" target="_blank" class="btn btn-primary">{{i.linkd}}</a></td>
                                            <td><a  href="/yonetim/ekipduzenle/{{i.id}}" class="btn btn-primary">{{sosyalmedya}} Düzenle</a></td>
                                            <td><a  href="/yonetim/{{sosyalmedyaa}}/{{i.id}}" class="btn btn-primary">{{sosyalmedya}} Sil</a></td>
                                           
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>

<!-- The Modal -->
<div class="modal" id="logo">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{sosyalmedya}} Ekle</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" >
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
            {{Email_ekle.media}}
            {{Email_ekle|crispy}}
            <br><br><br>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">iptal</button>
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Ekle</button>    
        </form>
      </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        
    </div>

    </div>
  </div>
</div>
<hr>

{% endblock slider %}