{% extends "leyout.html" %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock head %}
{% load crispy_forms_tags %}
{% block slider %}
<form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
            {{Email_ekle.media}}
            {{Email_ekle|crispy}}
            <br><br><br>
            <a href="/yonetim/filtreayarlari" class="btn btn-danger" >iptal</a>
            <button type="submit" class="btn btn-success" >Eklemeye Devam Et</button>    
        </form>
{% endblock slider %}