{% extends "leyout.html" %}
{% load custom_tags %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock head %}
{% block slider %}
<div class="container">
    <h3>Toplam Kullanıcı Sayısı : {% kullanici_sayisi %}</h3> 
    <h3>Toplam Ürün Sayısı :{% urun_sayisi %} </h3>
    <h3>Sipariş Sayısı :{% alinansiparisler %} </h3>
    <h3>Bu Gün Satin Alınan :{% bugunsiparis %} </h3>
    <h3>Bu Gün Satin Alınan Tutar :{% bugunsiparistutar %} </h3>
    <h3>Bu Aylık Satin Alınan Tutar :{% ayliksiparistutar %} </h3>
    <h3>Bu Yılık Satin Alınan Tutar :{% yilliksiparistutar %} </h3>
</div>

{% endblock slider %}