{% extends "leyout.html" %}
{% load crispy_forms_tags %}
{% block slider %}
<div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Şirketin Telefon Numarası  (Her zaman En Son Eklenen Geçerlidir ! Yani En Üstteki)
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#logo">Telefon Numarası Ekle</button>
                                    <thead>
                                        <tr>
                                            <th>Telefon Numarası </th>
                                            <th>sitede Gösterilmesi</th>
                                            <th>Sil</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in Telefon %}

                                        <tr class="odd gradeX">
                                            <td>{{i.sirket_numarasi_gosterilecek_metin}}</td>
                                            <td> <a href="tel:+{{i.sirket_numarasi}}">{{i.sirket_numarasi}}</a> </td>
                                            <td><a href="{% url 'admin_panels:telefonsil' i.id %}" class="btn btn-primary"> Telefonu Sil</a></td>
                                            
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>

<!-- The Modal -->
<div class="modal" id="logo">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Telefon Numarası Ekle</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="height: 300px;">
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
            {{Telefon_ekle.media}}
            {{Telefon_ekle|crispy}}
            <br><br><br>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">iptal</button>
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Ekle</button>    
        </form>
      </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        
    </div>

    </div>
  </div>
</div>
<hr>
<!-- The Modal -->
<div class="modal" id="icon">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Telefon Numarası Ekle</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body" style="height: 300px;">
          <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
              {{icon_ekleme.media}}
              {{icon_ekleme|crispy}}
              <br><br><br>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">iptal</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Ekle</button>    
          </form>
        </div>
  
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          
      </div>
  
      </div>
    </div>
  </div>
{% endblock slider %}