{% extends "leyout.html" %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock head %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block slider %}

<form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for i in filtreler %}
          {{i.filtre_adi}}
            <select name="{{i.filtre_linki}}" id="{{i.filtre_linki}}">
            {{i |Filtre_icerikleri_almaa}}
                
            </select><br>
            {% endfor %}
            {{form}}
            <a href="/yonetim/filtreayarlari" class="btn btn-danger" >iptal</a>
            <button type="submit" class="btn btn-success" >Eklemeye Devam Et</button>    
        </form>
      

    <script>
    // Birden çok dosya seçimini desteklemek için input alanını bulun
    const fileInput = document.querySelector('input[type="file"]');

    // Kullanıcı dosya seçimi yaptığında çalışacak olan event listener
    fileInput.addEventListener('change', function() {
        // Seçilen dosyaları alın
        const files = fileInput.files;

        // Dosya sayısını kontrol edin ve gerekli işlemleri yapın
        console.log(files.length);
    });
</script>
{% endblock slider %}