{% extends "homebase.html" %}
{% load custom_tags %}
{% block slider %}
   <!-- Checkout Start -->
   <form  method="post">
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Teslimat Adresi</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>İsim</label>
                            <input required class="form-control" required type="text" placeholder="isim">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Soyad</label>
                            <input required class="form-control" required type="text" placeholder="soyad">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>TC / Vergi Kimlik No</label>
                            <input required name="tc" class="form-control"  required type="text" placeholder="TC KİMLİK">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-posta</label>
                            <input required class="form-control" required type="text" placeholder="ornek@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Telefon Numarası</label>
                            <input required class="form-control" required type="text" placeholder="+905000000000">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Addres</label>
                            <input required class="form-control" required type="text" placeholder="adres">
                        </div>
                        
                        <div class="col-md-6 form-group">
                            <label>Ülke</label>
                            <input required class="form-control"  value="Türkiye" required type="text" placeholder="Türkiye">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Şehir</label>
                           <select name="sehirler" class="form-control">
                           {% for i in turkey_cities %}
                            <option value="{{i}}">{{i}}</option>
                           {% endfor %}
                            
                           </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Kodu</label>
                            <input required class="form-control" type="text" placeholder="123">
                        </div>
                       
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Sipariş Detayı</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Ürünler</h5>
                        {% for i in  sepet_urunleri %}
                            <div class="d-flex justify-content-between">
                            <p>{{i.urun_bilgisi.urun_adi}}</p>
                            <p>{{i.urun_adedi}} X {{i.urun_bilgisi.fiyat}} TL</p>
                        </div>
                        {% endfor %}
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Sipariş Tutarı </h6>
                            <h6 class="font-weight-medium">{% sepet_toplam_tutar request %} TL </h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Kargo Ücreti</h6>
                            <h6 class="font-weight-medium">{% sepet_toplam_tutar_k request %}</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Genel Tolam</h5>
                            <h5 class="font-weight-bold">{% sepet_toplam_tutar_t request %} TL</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Ödeme Türü</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" required class="custom-control-input" value="Havale" name="payment" id="paypal">
                                <label class="custom-control-label"  for="paypal">EFT / HAVALE </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" required class="custom-control-input" value="kredi / banka Kartı" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Kredi / Banka Kartı</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Ödemeye Geç</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->
</form>
{% endblock slider %}