{% extends "homebase.html" %}
{% load custom_tags %}
{% block slider %}
    
    <!-- Cart Start -->
    <div class="container pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Görsel</th>
                            <th>Ürün</th>
                            <th>Fiyatı</th>
                            <th>Miktarı</th>
                            <th>Toplam</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for i in sepet_urunleri %}
                        
                        
                        <tr>
                            <td class="align-middle"><img src="{{i.urun_bilgisi | urun_resimleri_alma}}" alt="" style=" max-width: 50px;min-width: 50px;
                            "> </td>
                            <td class="align-middle">{{ i.urun_bilgisi.urun_adi }}</td>
                            <td class="align-middle"> {{i.urun_bilgisi.fiyat}} TL</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <a href="/sepettesil/{{i.urun_bilgisi.id}}/{% duzenle i.urun_bilgisi.urun_adi %}" class="btn btn-sm btn-primary btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" value="{{i.urun_adedi}}">
                                    <div class="input-group-btn">
                                        <a href="/sepetteekle/{{i.urun_bilgisi.id}}/{% duzenle i.urun_bilgisi.urun_adi %}" class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle"> {% carpma i.urun_bilgisi.fiyat  i.urun_adedi %} TL</td>
                            <td class="align-middle"><a href="/urunsil/{{i.urun_bilgisi.id}}/{% duzenle i.urun_bilgisi.urun_adi %}"  class="btn btn-sm btn-primary"><i class="fa fa-times"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                
                <div class="card border-secondary mb-5" >
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Sipariş Detayı</h4>
                        <hr>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Toplam Sepet Tutarı </h6>
                            <h6 class="font-weight-medium">{% sepet_toplam_tutar request %} TL </h6>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Kargo Ücreti</h6>
                            <h6 class="font-weight-medium"> {% sepet_toplam_tutar_k request %} </h6>
                        </div>
                        <hr>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h3 class="font-weight-bold" style="color: rgb(217, 50, 50);">Genel Toplam</h5>
                            <h3 class="font-weight-bold" style="color: rgb(49, 49, 190);">{% sepet_toplam_tutar_t request %} TL</h5>
                        </div>
                        <hr>
                        <a href="/odeme" class="btn btn-block btn-primary my-3 py-3 mb-5">Siparişi Tamamla</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->
     <br>
{% endblock slider %}