{% extends "homebase.html" %}
{% load custom_tags %}
{% block head %}
    <title>{{site_adi.site_adi_sekme_tr}} | {{urun_.urun_adi}}</title>
    {% endblock head %}
{% block slider %}
<style>
    .carousel {
        margin: 50px auto;
        padding: 0 70px;
    }
    .carousel .item {
        color: #747d89;
        min-height: 325px;
        text-align: center;
        overflow: hidden;
    }
    .carousel .thumb-wrapper {
        padding: 25px 15px;
        background: #fff;
        border-radius: 6px;
        text-align: center;
        position: relative;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }
    .carousel .item .img-box {
        height: 120px;
        margin-bottom: 20px;
        width: 100%;
        position: relative;
    }
    .carousel .item img {	
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .carousel .item h4 {
        font-size: 18px;
    }
    .carousel .item h4, .carousel .item p, .carousel .item ul {
        margin-bottom: 5px;
    }
    .carousel .thumb-content .btn {
        color: #7ac400;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        background: none;
        border: 1px solid #7ac400;
        padding: 6px 14px;
        margin-top: 5px;
        line-height: 16px;
        border-radius: 20px;
    }
    .carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
        color: #fff;
        background: #7ac400;
        box-shadow: none;
    }
    .carousel .thumb-content .btn i {
        font-size: 14px;
        font-weight: bold;
        margin-left: 5px;
    }
    .carousel .item-price {
        font-size: 13px;
        padding: 2px 0;
    }
    .carousel .item-price strike {
        opacity: 0.7;
        margin-right: 5px;
    }
    .carousel-control-prev, .carousel-control-next {
        height: 44px;
        width: 40px;
        background: #7ac400;	
        margin: auto 0;
        border-radius: 4px;
        opacity: 0.8;
    }
    .carousel-control-prev:hover, .carousel-control-next:hover {
        background: #78bf00;
        opacity: 1;
    }
    .carousel-control-prev i, .carousel-control-next i {
        font-size: 36px;
        position: absolute;
        top: 50%;
        display: inline-block;
        margin: -19px 0 0 0;
        z-index: 5;
        left: 0;
        right: 0;
        color: #fff;
        text-shadow: none;
        font-weight: bold;
    }
    .carousel-control-prev i {
        margin-left: -2px;
    }
    .carousel-control-next i {
        margin-right: -4px;
    }		
    .carousel-indicators {
        bottom: -50px;
    }
    .carousel-indicators li, .carousel-indicators li.active {
        width: 10px;
        height: 10px;
        margin: 4px;
        border-radius: 50%;
        border: none;
    }
    .carousel-indicators li {	
        background: rgba(0, 0, 0, 0.2);
    }
    .carousel-indicators li.active {	
        background: rgba(0, 0, 0, 0.6);
    }
    .carousel .wish-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 99;
        cursor: pointer;
        font-size: 16px;
        color: #abb0b8;
    }
    .carousel .wish-icon .fa-heart {
        color: #ff6161;
    }
    .star-rating li {
        padding: 0;
    }
    .star-rating i {
        font-size: 14px;
        color: #ffc000;
    }
    </style>
    <script>
    $(document).ready(function(){
        $(".wish-icon i").click(function(){
            $(this).toggleClass("fa-heart fa-heart-o");
        });
    });	
    </script>
        <!-- Shop Detail Start -->
    <div class="container py-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        
                        {% for i in urun_resimleri %}
                            <div class="carousel-item active_ver">
                            <img  style="max-height: 400px; border: 2px solid #FE7A36; border-radius: 5% ;" class="w-100 h-100" src="{{i.image.url}}" alt="Image">
                        </div>
                        {% endfor %}


                    </div>
                    {% if urun_resimleri.count  > 1 %}
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                    {% else %}
                    {% endif %}
                    <div class="d-flex justify-content-center" id="product-view">
                       
                        {% for rs in urun_resimleri %}
                            <a class="product-view " href="#product-carousel" data-slide="next" style="float: left;">
                                <img style=" margin-right: 5px !important; border: 1px solid black; border-radius: 10% !important;min-width: 50px !important; min-height: 50px !important;max-width: 50px !important; max-height: 50px !important;" src="{{ rs.image.url }}" alt="aa" >
                            </a>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="col-lg-7 mt-5">
                <h5 class="font-weight-semi-bold">{{urun_.urun_adi}}</h5>
                <div class="d-flex mb-3">
                     {{urun_.urun_aciklama |safe}}
                </div>
                <h6 class="font-weight-semi-bold mb-4">{{urun_.fiyat}} TL</h6>
                <p class="mb-4"></p>
                {{urun_ | urun_filteleri_alma_bilgisi}}
                <form action="/urunekle/" method="post">
                    {% csrf_token %}
                    <input type="text" hidden  name="urun" value="{{urun_.id}}">
                        <input type="text" hidden  name="urunadi" value="{{urun_.urun_adi}}">
                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-minus" >
                            <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary text-center" name="adet" value="1">


                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Sepete Ekle</button>
                </div>
            </form>
                <div class="d-flex pt-2">


                </div>
            </div>
        </div>
       <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Benzer Ürünler</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel related-carousel">
                
                {% benzer_urunler urun_.kategori.all.0.id  as d %}     
                </div>

            </div>
        </div>
        <div class="container-xl">
            <div class="row">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        {% if d.profile1 %}
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        {% else %}
                        {% endif %}
                        {% if d.profile2 %}
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                        {% else %}
                        {% endif %}
                        {% if d.profile3 %}
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        {% else %}
                        {% endif %}
                        
                    </ol>   
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        
                        
                        <div class="item carousel-item active">
                            <div class="row">
                                
                                
                               {% for i in d.profile1 %}
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <a href="/urun/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0">
                                                <img style="max-height: 200px;max-width: 200px;min-height: 200px;min-width: 200px;" class="img-fluid w-100" src="{{ i|urun_resimleri_alma }}" alt="">
                                                
                                                
                                                </a>									
                                        </div>
                                        <div class="thumb-content">
                                            <h6 class="text-truncate mb-3"><a href="/urun/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0"></a>{{ i.urun_adi }}</a></h6>									
                                            
                                            <h6>{{i.fiyat}} TL</h6><h6 class="text-muted ml-2"><del>{{i.eski_fiyat}} TL</del></h6>
                                            <a href="/sepet/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Sepete Ekle</a>
                                        </div>						
                                    </div>
                                </div>
                                  {% endfor %}
                            </div>
                        </div>

                       
                        <div class="item carousel-item ">
                            <div class="row">
                                		{% for i in d.profile2 %}
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <a href="/urun/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0">
                                                <img style="max-height: 200px;max-width: 200px;min-height: 200px;min-width: 200px;" class="img-fluid w-100" src="{{ i|urun_resimleri_alma }}" alt="">
                                                <div class="resimYazisi">%{% indirim_orani  i.eski_fiyat i.fiyat %} İndirim</div>
                                                <style>
                                            .resimKapsayici {position:relative}
                                            .resimYazisi {position:absolute;left:10px;top:10px;width: 50px;
                                                height: 50px;
                                                background-color: rgb(255, 136, 0); /* Kırmızı renk */
                                                border-radius: 50%; color: white;}
                                            </style>
                                                </a>									
                                        </div>
                                        <div class="thumb-content">
                                            <h6 class="text-truncate mb-3"><a href="/urun/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0"></a>{{ i.urun_adi }}</a></h6>									
                                            
                                            <h6>{{i.fiyat}} TL</h6><h6 class="text-muted ml-2"><del>{{i.eski_fiyat}} TL</del></h6>
                                            <a href="/sepet/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Sepete Ekle</a>
                                        </div>						
                                    </div>
                                </div>
                                  {% endfor %}			
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                		{% for i in d.profile3 %}
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <a href="/urun/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0">
                                                <img style="max-height: 200px;max-width: 200px;min-height: 200px;min-width: 200px;" class="img-fluid w-100" src="{{ i|urun_resimleri_alma }}" alt="">
                                                <div class="resimYazisi">%{% indirim_orani  i.eski_fiyat i.fiyat %} İndirim</div>
                                                <style>
                                            .resimKapsayici {position:relative}
                                            .resimYazisi {position:absolute;left:10px;top:10px;width: 50px;
                                                height: 50px;
                                                background-color: rgb(255, 136, 0); /* Kırmızı renk */
                                                border-radius: 50%; color: white;}
                                            </style>
                                                </a>									
                                        </div>
                                        <div class="thumb-content">
                                            <h6 class="text-truncate mb-3"><a href="/urun/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0"></a>{{ i.urun_adi }}</a></h6>									
                                            
                                            <h6>{{i.fiyat}} TL</h6><h6 class="text-muted ml-2"><del>{{i.eski_fiyat}} TL</del></h6>
                                            <a href="/sepet/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Sepete Ekle</a>
                                        </div>						
                                    </div>
                                </div>
                                  {% endfor %}			
                            </div>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->

    <!-- Products End -->
       <!-- Products End -->
        
{% endblock slider %}
{% block whatsap %}
    <script>
    var url = 'https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?46735';
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = url;
    var options = {
  "enabled":true,
  "chatButtonSetting":{
      "backgroundColor":"#4dc247",
      "ctaText":"",
      "borderRadius":"25",
      "marginLeft":"0",
      "marginBottom":"100",
      "marginRight":"50",
      "position":"right"
  },
  "brandSetting":{
      "brandName":"{{site_adi.site_adi_sekme_tr}}",
      "brandSubTitle":"Çevrimiçi",
      "brandImg":"{{pencere_icon.sayfa_icon.url}}",
      "welcomeText":"Merhaba!\nNasıl Yardımcı Olabilirim",
      "messageText":"Merhaba  https://www.trakyaotoyedekparca.com/urun/{{urun_.id}}/{% duzenle urun_.urun_adi %} için bilgi alabilir miyim?",
      "backgroundColor":"#008000",
      "ctaText":"Mesaj Gönder",
      "borderRadius":"25",
      "autoShow":false,
      "phoneNumber":" +{{telefon.sirket_numarasi}}"
  }
};
    s.onload = function() {
        CreateWhatsappChatWidget(options);
    };
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
</script>
    {% endblock whatsap %}