{% extends "homebase.html" %}
{% load custom_tags %}
{% block site %}
{% if banner %}


<div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for i in banner %}
                        {% if i.image %}
                        
                        
                       
                        <div class="carousel-item active_ver" style="height: 410px;">
                            <img class="img-fluid" src="{{i.image.url}}" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">{{i.banner_aciklama_tr}}</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">{{i.banner_basligi_tr}}</h3>
                                    {% if i.banner_link %}
                                        <a href="{{i.banner_link}}" class="btn btn-light py-2 px-3">Ziyaret Et</a>
                                    {% else %}
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                        {% else %}
                        {% endif %}
                         {% endfor %}
                        
                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>

{% else %}
{% endif %}
{% endblock site %}
{% block slider %}
<style>
    .carousel {
        margin: 50px auto;
        padding: 0 70px;
    }
    .carousel .item {
        color: #747d89;
        min-height: 325px;
        text-align: center;
        overflow: hidden;
    }
    .carousel .thumb-wrapper {
        padding: 25px 15px;
        background: #fff;
        border-radius: 6px;
        text-align: center;
        position: relative;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }
    .carousel .item .img-box {
        height: 120px;
        margin-bottom: 20px;
        width: 100%;
        position: relative;
    }
    .carousel .item img {	
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .carousel .item h4 {
        font-size: 18px;
    }
    .carousel .item h4, .carousel .item p, .carousel .item ul {
        margin-bottom: 5px;
    }
    .carousel .thumb-content .btn {
        color: #7ac400;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        background: none;
        border: 1px solid #7ac400;
        padding: 6px 14px;
        margin-top: 5px;
        line-height: 16px;
        border-radius: 20px;
    }
    .carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
        color: #fff;
        background: #7ac400;
        box-shadow: none;
    }
    .carousel .thumb-content .btn i {
        font-size: 14px;
        font-weight: bold;
        margin-left: 5px;
    }
    .carousel .item-price {
        font-size: 13px;
        padding: 2px 0;
    }
    .carousel .item-price strike {
        opacity: 0.7;
        margin-right: 5px;
    }
    .carousel-control-prev, .carousel-control-next {
        height: 44px;
        width: 40px;
        background: #7ac400;	
        margin: auto 0;
        border-radius: 4px;
        opacity: 0.8;
    }
    .carousel-control-prev:hover, .carousel-control-next:hover {
        background: #78bf00;
        opacity: 1;
    }
    .carousel-control-prev i, .carousel-control-next i {
        font-size: 36px;
        position: absolute;
        top: 50%;
        display: inline-block;
        margin: -19px 0 0 0;
        z-index: 5;
        left: 0;
        right: 0;
        color: #fff;
        text-shadow: none;
        font-weight: bold;
    }
    .carousel-control-prev i {
        margin-left: -2px;
    }
    .carousel-control-next i {
        margin-right: -4px;
    }		
    .carousel-indicators {
        bottom: -50px;
    }
    .carousel-indicators li, .carousel-indicators li.active {
        width: 10px;
        height: 10px;
        margin: 4px;
        border-radius: 50%;
        border: none;
    }
    .carousel-indicators li {	
        background: rgba(0, 0, 0, 0.2);
    }
    .carousel-indicators li.active {	
        background: rgba(0, 0, 0, 0.6);
    }
    .carousel .wish-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 99;
        cursor: pointer;
        font-size: 16px;
        color: #abb0b8;
    }
    .carousel .wish-icon .fa-heart {
        color: #ff6161;
    }
    .star-rating li {
        padding: 0;
    }
    .star-rating i {
        font-size: 14px;
        color: #ffc000;
    }
    </style>
    <script>
    $(document).ready(function(){
        $(".wish-icon i").click(function(){
            $(this).toggleClass("fa-heart fa-heart-o");
        });
    });	
    </script>

    <!-- Products Start -->
    <div class="container pt-5 mt-2">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Ürünler</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            
            {% for i in santiyeler %}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-2 mb-4">
                    <div class="card-header d-flex justify-content-center product-img position-relative overflow-hidden bg-transparent border p-0">
                    <a href="/urun/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0">
                        <img style="max-height: 200px;max-width: 200px;min-height: 200px;min-width: 200px;" class="img-fluid w-100" src="{{ i|urun_resimleri_alma }}" alt="">
                      
                        </a>

                    </div>
                                 
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3"><a href="/urun/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0">{{i.urun_adi }}</a></h6>
                        <div class="d-flex justify-content-center">
                            <h6>{{i.fiyat}} TL</h6><h6 class="text-muted ml-2"><del></del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-center bg-light border">
                        
                        <a href="/sepet/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Sepete Ekle</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
                                            <ul class="pagination pagination-m justify-content-center">

                                                {% if medya.has_previous %}
                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">« Previous page</a></li>
                                                
                                                  {% if medya.number > 3 %}
                                                
                                                    <li class="page-item"><a class="page-link" href="?page=1{{ medya.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">1</a></li>
                                                    {% if medya.number > 4 %}
                                                      <li class="page-item"><span class="page-link">...</span></li>
                                                    {% endif %}
                                                  {% endif %}
                                                {% endif %}
                                                
                                                {% for num in medya.paginator.page_range %}
                                                  {% if medya.number == num %}
                                                    <li class="page-item"><a class="page-link " style="color:black;" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% elif num > medya.number|add:'-3' and num < medya.number|add:'3' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% endif %}
                                                {% endfor %}
                                                
                                                {% if medya.has_next %}
                                                  {% if medya.number < medya.paginator.num_pages|add:'-3' %}
                                                    <li class="page-item"><span class="page-link">...</span></li>
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% elif medya.number < medya.paginator.num_pages|add:'-2' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% endif %}
                                                
                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next Page »</a></li>
                                                {% endif %}
                                                </ul>
                                        </div>
    <!-- Products End -->
      <!-- Products Start -->
      <div class="container py-5">
        <div class="text-center mb-4">
            {% if populer %}
                 <h2 class="section-title px-5"><span class="px-2">Popüler Ürünler</span></h2>
                {% else %}
                {% endif %}
        </div>
        <div class="row px-xl-5">
            <div class="col">
             
               
               
                <div class="owl-carousel related-carousel">

                    
               {% for i in populer %}
                    <div class="card product-item border-2">
                        <div class="card-header d-flex justify-content-center product-img position-relative overflow-hidden bg-transparent border p-0">
                            <a href="/urun/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0">
                            <img style="max-height: 200px;max-width: 200px;min-height: 200px;min-width: 200px;" class="img-fluid w-100" src="{{ i|urun_resimleri_alma }}" alt="">
                            
                            </a>
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            
                            <h6 class="text-truncate mb-3"><a href="/urun/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0"></a>{{ i.urun_adi }}</a></h6>
                            <div class="d-flex justify-content-center">
                                 <h6>{{i.fiyat}} TL</h6><h6 class="text-muted ml-2"><del>{{i.eski_fiyat}} TL</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-center bg-light border">
                           
                            <a href="/sepet/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Sepete Ekle</a>
                        </div>
                    </div>
            {% endfor %}

                </div>
               
            </div>
        </div>
    </div>
    <!-- Products End -->
           <!-- Products Start -->
           <div class="container py-5">
            <div class="text-center mb-4">
                {% if indirimdekiurunler1 %}
                     <h2 class="section-title px-5"><a href="/indirimdeolanurunler/"><span class="px-2">İndirimde Olan Ürünler</span></a></h2>
                    {% else %}
                    {% endif %}
            </div>
        </div>
        <!-- Products End -->
        <div class="container-xl">
            <div class="row">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>   
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        
                        
                        <div class="item carousel-item active">
                            <div class="row">
                                
                                
                               {% for i in indirimdekiurunler1 %}
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <a href="/urun/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0">
                                                <img style="max-height: 200px;max-width: 200px;min-height: 200px;min-width: 200px;" class="img-fluid w-100" src="{{ i|urun_resimleri_alma }}" alt="">
                                                <div class="resimYazisi">%{% indirim_orani  i.eski_fiyat i.fiyat %} İndirim</div>
                                                <style>
                                            .resimKapsayici {position:relative}
                                            .resimYazisi {position:absolute;left:10px;top:10px;width: 50px;
                                                height: 50px;
                                                background-color: rgb(255, 136, 0); /* Kırmızı renk */
                                                border-radius: 50%; color: white;}
                                            </style>
                                                </a>									
                                        </div>
                                        <div class="thumb-content">
                                            <h6 class="text-truncate mb-3"><a href="/urun/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0"></a>{{ i.urun_adi }}</a></h6>									
                                            
                                            <h6>{{i.fiyat}} TL</h6><h6 class="text-muted ml-2"><del>{{i.eski_fiyat}} TL</del></h6>
                                            <a href="/sepet/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Sepete Ekle</a>
                                        </div>						
                                    </div>
                                </div>
                                  {% endfor %}
                            </div>
                        </div>

                       
                        <div class="item carousel-item ">
                            <div class="row">
                                		{% for i in indirimdekiurunler2 %}
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <a href="/urun/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0">
                                                <img style="max-height: 200px;max-width: 200px;min-height: 200px;min-width: 200px;" class="img-fluid w-100" src="{{ i|urun_resimleri_alma }}" alt="">
                                                <div class="resimYazisi">%{% indirim_orani  i.eski_fiyat i.fiyat %} İndirim</div>
                                                <style>
                                            .resimKapsayici {position:relative}
                                            .resimYazisi {position:absolute;left:10px;top:10px;width: 50px;
                                                height: 50px;
                                                background-color: rgb(255, 136, 0); /* Kırmızı renk */
                                                border-radius: 50%; color: white;}
                                            </style>
                                                </a>									
                                        </div>
                                        <div class="thumb-content">
                                            <h6 class="text-truncate mb-3"><a href="/urun/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0"></a>{{ i.urun_adi }}</a></h6>									
                                            
                                            <h6>{{i.fiyat}} TL</h6><h6 class="text-muted ml-2"><del>{{i.eski_fiyat}} TL</del></h6>
                                            <a href="/sepet/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Sepete Ekle</a>
                                        </div>						
                                    </div>
                                </div>
                                  {% endfor %}			
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                		{% for i in indirimdekiurunler3 %}
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <a href="/urun/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0">
                                                <img style="max-height: 200px;max-width: 200px;min-height: 200px;min-width: 200px;" class="img-fluid w-100" src="{{ i|urun_resimleri_alma }}" alt="">
                                                <div class="resimYazisi">%{% indirim_orani  i.eski_fiyat i.fiyat %} İndirim</div>
                                                <style>
                                            .resimKapsayici {position:relative}
                                            .resimYazisi {position:absolute;left:10px;top:10px;width: 50px;
                                                height: 50px;
                                                background-color: rgb(255, 136, 0); /* Kırmızı renk */
                                                border-radius: 50%; color: white;}
                                            </style>
                                                </a>									
                                        </div>
                                        <div class="thumb-content">
                                            <h6 class="text-truncate mb-3"><a href="/urun/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0"></a>{{ i.urun_adi }}</a></h6>									
                                            
                                            <h6>{{i.fiyat}} TL</h6><h6 class="text-muted ml-2"><del>{{i.eski_fiyat}} TL</del></h6>
                                            <a href="/sepet/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Sepete Ekle</a>
                                        </div>						
                                    </div>
                                </div>
                                  {% endfor %}			
                            </div>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                </div>
            </div>
        </div>
{% endblock slider %}