{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">


	<div class="content-section">
  	 	<h2>Parola Sıfırla</h2><hr>
		<p>Şifrenizi mi unuttunuz? Aşağıya e-posta adresinizi girin, yeni bir e-posta ayarlama talimatlarını size e-postayla göndereceğiz.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-outline-info" type="submit">Mail Gönder</button>
        </form>
  	</div>
</div>
{% endblock %}