/*===============================================
    [SASS DIRECTORY ]
    
    [1] 
==============================================*/

/*===============================*/

.common-home #content{margin-bottom: 0px;}
.sohomepage-slider .so-homeslider{border: none; z-index: 0;}

.container-fluid .container{
    padding-left: 15px;
    padding-right: 15px;
}


#main-content,#content{margin-bottom: 30px;}

.common-home{

    a:hover{ color: $background; }
}

/*====================== mod title ========================*/
.layout-8.common-home #content{
    .module{
        h3.modtitle{
            text-align: center; margin-bottom: 5px;
            span{
                font-size: 36px; color: #282828;
                font-weight: 700;
                text-transform: uppercase;
                position: relative;   
                padding: 0 15px; display: inline-block;        
                &:before{
                    position: absolute; content: "";
                    width: 8px; height: 8px;
                    background-color: $background;
                    top: 50%; margin-top: -4px; 
                    #{$left}: 0; border-radius: 100%;
                }
                &:after{
                    position: absolute; content: "";
                    width: 8px; height: 8px;
                    background-color: $background;
                    top: 50%; margin-top: -4px; 
                    #{$right}: 0; border-radius: 100%;
                }
            }
        }
        .pre_text{
            text-align: center;
            line-height: 100%;
            color: $linkColor;
            font-size: 14px; text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 18px; font-weight: 400;
        }
        .form-group{
            text-align: center;
            font-style: italic;
             color: #878787;
       }
    }

    .box-advanced-search .search-boxes,
    .box-advanced-search .search-button {
        width: 20%;
        padding: 0 5px;
    } 
    .box-advanced-search{ margin: 0 auto; float: none; 
        .so_advanced_search{ background-color: transparent; }
    }
    .row-advanced{
        background: url(#{$base-url-theme}bg/id4-bg-search.jpg) no-repeat center;
        background-size: auto 100%;
        border-radius: 0; padding: 130px 0;
        .heading-title h2{
            font-weight: 500; text-transform: uppercase;
            font-size: 48px;
            //border-bottom: 1px solid rgba(255,255,255,0.1);
            padding: 50px 30px 80px 30px;      
            color: #fff;
            margin: 0;
        }
        .sas_inner{
            padding: 0;
        }
        .sas_inner-box-search{
            padding: 0 10px;
        }
        .sas_inner-box-search .search-boxes{
            margin-bottom: 18px;
            select{
                height: 45px;
                color: #666;
                font-size: 14px;
                border: none;
                border-radius: 5px;
            }
        } 

        .sas_inner-box-search .search-button button{
            width: 100%;
            font-size: 14px;
            font-weight: 500;
            background-color: $background;
            border-radius: 5px;
            height: 45px; line-height: 45px;
            margin: 0;
            &:hover{
                background-color: darken($background,20%);
            }
        }
    }   
}


/************************************************************************************************
    MODULE HOME SLIDER  
*************************************************************************************************/
.sohomepage-slider .so-homeslider .owl2-nav div::before,
.sohomepage-slider .so-homeslider .owl2-nav div:hover:before{
    background-color: transparent !important;
}

#content .sohomepage-slider{
    margin: 0 0 25px 0; 
    z-index: 0; 
    .form-group{
        margin-bottom: 0;
    }
    .so-homeslider{
         border: none; display: block;
        img{
            width: auto;
        }
    }
    .owl2-controls{
        height: 0;
        .owl2-nav{
            .owl2-next,
            .owl2-prev{
                font-size: 0px;
                z-index: 99;
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                @include border-radius(50%);
                top: 50%;
                margin-top: -30px;
                text-indent: -999em;
                display: block;
                background-color: #fff;
                border: none;
                @include effect-block-hide();  
                @include transform(scale(0.5));
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                &:after{display: none;}
                &:before{
                    font-size: 30px;
                    color: $background;
                    font-family: 'FontAwesome';
                    display: block;
                    text-indent: 0 !important;
                    width: 60px;
                    height: 60px;
                    line-height: 58px;
                    text-align: center;
                    opacity: 1;
                }
                &:hover{
                    background-color: $background;
                    &:before{ color: #fff; }
                }
            }
            .owl2-next{
                #{$right}: 15px;
                #{$left}: auto;
                &:before{
                    @include if-ltr{             
                        content: "\f105"; 
                    }  
                    @include if-rtl {
                        content: "\f104"; 
                    }  
                }
            }
            .owl2-prev{
                #{$left}: 15px;
                #{$right}: auto;
                &:before{
                  @include if-ltr{             
                    content: "\f104"; 
                  }  
                  @include if-rtl {
                    content: "\f105"; 
                  }  
                }
            }

        }
        .owl2-dots{
            position: static;
            left: auto;
            right: auto;
            width: 100%;
            display: inline-block;
            text-align: center;
            position: relative;
            top: -35px;
            z-index: 10;
            .owl2-dot {
              background-color: #ddd;
              margin: 0 5px;
              width: 11px;
              height: 11px;
              padding: 0;
              transition: all 0.3s ease 0s;
              border-radius: 100%;
              float: none;
              display: inline-block;
              span {
               background-color: #ddd;
                display: block;
                width: 100%;
                height: 100%;          
                border-radius: 100%;
                -webkit-border-radius: 100%;
                margin: 0;
              }
              &:hover,
              &.active {
                background: rgba(0,0,0,0.3);
                span {
                  box-shadow: none;
                  -webkit-box-shadow: none;
                  background: rgba(0,0,0,0.3);
                }
              }
            }

        } 
    } 
    &:hover{
        .owl2-controls .owl2-nav{
            .owl2-next,
            .owl2-prev{
                @include effect-block-show();  
                @include transform(scale(1));
            }
        }
    }

}




/************************************************************************************************
    SHORTCODE HTML 
*************************************************************************************************/
/*--- block services ---*/
.block-services{
    padding: 80px 0px 70px 0 !important;
    .icon-service{ text-align: center;
        .icon{
            width: 70px; height: 70px;
            border-radius: 100%;
            border: 2px solid #e5e5e5;
            background-color: #fff;
            margin: 0 auto;
            i{
                font-size: 36px; font-weight: bold;
                color: $background;
                width: 70px; height: 70px;
                &:before{
                    height: 70px; width: 68px;
                    display: block;
                    text-align: center;
                    line-height: 63px;
                }
            }
        }
        .text{            
            padding-top: 27px;
            h6{ font-size: 14px; color: #282828; margin-bottom: 3px; text-transform: uppercase; font-weight: 500; }
            p{ font-weight: 300; color: #888888; line-height: 25px; }
        }
        &:hover{ cursor: pointer;
            .icon{ border-color: $background; }
            h6{ color: $background; }
        }
    }
}

.banners1 .bn1{ margin-bottom: 30px; }
.banners1{ margin-bottom: 38px; }

.row-brands{
    background-color: #f5f5f5; padding: 68px 0;
}
.slider-brands{
    .contentslider{
        border: 1px solid #e5e5e5;
        border-#{$right}: none;
        background-color: #fff;
        .owl2-stage-outer{
            direction: ltr;
        }
        .item{
            border-#{$right}: 1px solid #e5e5e5;
            text-align: center;
            padding: 20px 0;
            a img{
                @include transition(all 0.2s ease-in-out 0s);   
            }
            a:hover img{                
                @include transition(all 0.2s ease-in-out 0s);         
                @include transform(scale(1.05));
            }
        }
    }
    .owl2-nav{
        @include owl2-nav-style1(46px,24px,#e5e5e5,$background);
    }
}


.banners2{
    margin-top: 25px;
    margin-bottom: 90px;
}
/************************************************************************************************
    MODULE EXTRA SLIDER
*************************************************************************************************/
.extra-layout1{
    margin-top: 40px; display: inline-block; width: 100%;
}
.extra-layout1 .so-extraslider{ margin: -15px; margin-top: 10px;
    .owl2-dots{
        @include owl2-dot-style(9px,9px,#b2b2b2);  
    }
    .owl2-nav{
        @include owl2-nav-style1(46px,24px,#e5e5e5,$background);
        .owl2-prev{
            #{$left}: -7px !important;
        }
        .owl2-next{
            #{$right}: -7px !important;
        }
    }
    .extraslider-inner{
        overflow: hidden;
        padding: 15px;
        padding-bottom: 40px;
        
        .owl2-stage-outer{
            overflow: visible;
            
        }
    }
        
   
}

/************************************************************************************************
    MODULE LISTING TABS
*************************************************************************************************/

.listingtab-layout5{
    background-color: #fff;
    margin-top: 37px;
    margin-bottom: 80px;
    .modcontent{
       
    }
    .so-listing-tabs{
        margin: 0 -15px;
        padding: 0;
        .ltabs-tabs-container{
            margin: 35px 0 50px 0;
            @media (min-width: 992px){
                .ltabs-tabs{
                    text-align: center;
                    li.ltabs-tab{
                        float: none; margin: 0 5px;
                        display: inline-block;
                        &:hover,
                        &.tab-sel{
                            > span{ color: #fff; background-color: $background; border-color: $background; }
                        }
                        > span{
                            font-weight: 500;
                            text-transform: uppercase;
                            font-size: 14px;
                            color: #282828;
                            padding: 13px 20px; border-radius: 30px;
                            background-color: #f5f5f5;
                            border: 1px solid #ddd;

                        }
                    } 
                }
            } 

        } 

        .ltabs-wrap{ overflow: visible; padding: 0 15px; }
        .wap-listing-tabs{
            .ltabs-items-container{ overflow: visible;

                .ltabs-items{ 
                    overflow: visible;
                }
                .ltabs-items-inner{
                    overflow: visible;
                    .owl2-stage-outer{
                        overflow: visible;           
                    }
                }
                .ltabs-loadmore{
                    clear: both;
                    .ltabs-loadmore-btn{
                        font-weight: 500; font-size: 14px; color: #fff;
                        text-transform: uppercase;
                        background-color: $background;
                        padding: 12px 35px;
                        border-radius: 30px;
                        i{ display: none; }
                        &:hover{
                            background-color: darken($background,10%);
                        }
                    }
                }
            } 
        }
        .ltabs-items-container .ltabs-items .ltabs-item{
            padding: 0 15px;
            margin-bottom: 15px;
        }
        .owl2-nav{
            @include owl2-nav-style1(46px,24px,#e5e5e5,$background);
            .owl2-prev,
            .owl2-next{
                margin-top: -45px;
                @include effect-block-hide();  
                @include transform(scale(0.5));
                &.owl2-prev{
                    #{$left}: -20px;                
                }
                &.owl2-next{
                    #{$right}: -20px;
                }
            }
            
        }
        &:hover{
            .owl2-nav{
                .owl2-prev,
                .owl2-next{
                    //@include effect-block-show();  
                    //@include transform(scale(1));
                }
            }
        }

    }
}


/************************************************************************************************
    MODULE LATEST BLOG
*************************************************************************************************/
.so-blog-external .blog-external .media .so-block{
    padding: 0; text-align: right; float: right;
    a.imag{
        @include hover-image-effect();
    }
}
.blog-home{
    margin-top: 80px;
    margin-bottom: 70px;
    .blog-external{
        border: none;
        margin-top: 20px;
        .head-item{
            margin: 8px 0 17px 0;
        }
        .media-heading a{
            padding: 0;
            font-size: 16px; color: #282828;
            font-weight: 500;
            text-transform: uppercase;
            &:hover{ color: $linkColor; }
        }
        .infos{
            color: #aaa;
            .media-date-added{
                margin-#{$right}: 15px;
            }
            .media-author{
                color: $linkColor;
                padding: 0;
            }
        }  
        .media .media-body .description{
            margin-top: 5px;
        }   
        .media-body{
            padding-top: 13px;
        } 
        .readmore{
            float: $left; padding: 0;
            a{
                display: inline-block;
                background-color: #222;
                line-height: 100%;
                padding: 12px 26px;
                border-radius: 3px;
                font-size: 14px; text-transform: uppercase; color: #fff;
                &:hover{
                    background-color: $background;
                }
            } 
        } 

    }
    .so-blog-external .blog-external .media{
        margin: 10px 0;
    }
    .owl2-controls .owl2-nav{
        @include owl2-nav-style1(34px,20px,#ddd,$background);
        .owl2-next,
        .owl2-prev{
            @include transform(scale(0.3));
            opacity: 0; visibility: hidden;
            @include transition(all 0.2s ease-in-out 0s); 
        }
    }
    &:hover{
        .owl2-controls .owl2-nav{
            .owl2-next,
            .owl2-prev{
                @include transform(scale(1));
                opacity: 1; visibility: visible;
                @include transition(all 0.2s ease-in-out 0s); 
            }                
        }
    }
}

