{% load static %}

<!-- Footer Start -->
    <div style="background-color: #3652AD !important;" class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="/" class="text-decoration-none">
                    {% if logo %}
                            <img style="max-width: 150px; margin-bottom: 5px;;" src="{{logo.image.url}}" alt="">
                        {% else %}
                        {% endif %}
                </a>
                <p style="color: white !important;"><b>Her kilometrede güvenliği ve performansı bir arada sunan, tutkuyla seçilmiş oto yedek parçalarıyla sizin yanınızdayız.</b></p>
                <p style="color: white !important;" class="mb-2"><i style="color: white !important;" class="fa fa-map-marker-alt text-primary mr-3"></i>{{adres.sirket_adresi_tr}}</p>
                <p style="color: white !important;" class="mb-2"><i style="color: white !important;" class="fa fa-envelope text-primary mr-3"></i><a style="color: white !important;" href="mailto:{{email.sirket_email_adresi}}">{{email.sirket_email_adresi}}</a></p>
                <p style="color: white !important;" class="mb-0"><i style="color: white !important;" class="fa fa-phone-alt text-primary mr-3"></i><a style="color: white !important;" href="tel:+{{telefon.sirket_numarasi}}">{{telefon.sirket_numarasi_gosterilecek_metin}}</a></p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 style="color: white !important;" class="font-weight-bold text-dark mb-4">Hızlı Linkler</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a style="color: white !important;" class="text-dark mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Anasayfa</a>
                            <a style="color: white !important;" class="text-dark mb-2" href="/hakkimizda"><i class="fa fa-angle-right mr-2"></i>Hakkımızda</a>
                            <a style="color: white !important;" class="text-dark mb-2" href="/iletisim"><i class="fa fa-angle-right mr-2"></i>İletişim</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 style="color: white !important;" class="font-weight-bold text-dark mb-4">Genel</h5>
                        <div class="d-flex flex-column justify-content-start">
                            {% for i in yasal_metinler %}
                                <a style="color: white !important;" class="text-dark mb-2" href="/yasalmetinler/{{i.id}}/{{i.yasal_metin_basligi}}"><i class="fa fa-angle-right mr-2"></i>{{i.yasal_metin_basligi}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 style="color: white !important;" class="font-weight-bold text-dark mb-4">Bize Ulaşın</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a style="color: white !important;" class="text-dark mb-2" href="/iletisim"><i class="fa fa-angle-right mr-2"></i>İletişim</a>
                            <a style="color: white !important;" class="text-dark mb-2" target="_blank" href="https://api.whatsapp.com/send?phone={{telefon.sirket_numarasi}}&text=Merhaba!"><i class="fa fa-angle-right mr-2"></i>Whatsapp</a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row border-top border-light mx-xl-5 py-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    &copy; <a style="color: white !important;" class="text-dark font-weight-semi-bold" href="#">Trakya Oto Parça</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" style="max-width: 150px;" src="{% static 'odeme.jpg' %}" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->