    <!-- Topbar Start -->
    {% load custom_tags %}
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    {% if facebook %}
                        <a class="text-dark px-2" href="{{facebook.link}}">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    {% else %}
                    {% endif %}
                    {% if tw %}
                        <a class="text-dark px-2" href="{{tw.link}}">
                        <i class="fab fa-twitter"></i>
                    </a>
                    {% else %}
                    {% endif %}
                    {% if link %}
                        <a class="text-dark px-2" href="{{link.link}}">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    {% else %}
                    {% endif %}
                    {% if insta %}
                        <a class="text-dark px-2" href="{{insta.link}}">
                        <i class="fab fa-instagram"></i>
                    </a>
                    {% else %}
                    {% endif %}
                    {% if youtube %}
                        <a class="text-dark pl-2" href="{{youtube.link}}">
                        <i class="fab fa-youtube"></i>
                    </a>
                    {% else %}
                    {% endif %}
                    
                    
                    
                    
                    
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="/" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold">
                        {% if logo %}
                            <img style="max-width: 150px;" src="{{logo.image.url}}" alt="">
                        {% else %}
                        {% endif %}
                        </h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Aradığınız Ürün">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
             {% if request.user.is_authenticated %}
                <a href="" class="btn border">Logout</a>
                <a href="/sepetebak" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span style="color: black !important" class="badge">{{ request.user | sepetteki_urun_sayisi}}</span>
                </a>
                {% else %}
                <a href="" class="btn border">Login</a>
                <a href="" class="btn border">Register</a>
                <a href="" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge">0</span>
                </a>
                <a href="/sepetebak" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span style="color: black !important" class="badge">{{ request | sepetteki_urun_sayisi_kullan}}</span>
                </a>
                {% endif %}
                
            </div>
        </div>
    </div>
    <!-- Topbar End -->