    <!-- Topbar Start -->
    {% load custom_tags %}
    <style>#box {
        max-width: 300px;
        position: relative;
        }
        #box .fa-search {
        position: absolute;
        top: 14px;
        left: 12px;
        font-size: 20px;
        color:cornflowerblue;
        }
        #search {
        width: 100px;
        box-sizing: border-box;
        border: 2px solid cornflowerblue;
        border-radius: 4px;
        font-size:18px;
        padding: 12px 20px 12px 40px;
        -moz-transition: width 0.4s ease-in-out;
        -o-transition: width 0.4s ease-in-out;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        }
        #search:focus {
        width: 100%;
        }
        </style>
    <div class="container-fluid">
        <div style="background-color: #3652AD !important;" class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    {% if facebook %}
                        <a style="color: white !important;" class="text-dark px-2" href="{{facebook.link}}">
                        <i  style="color: white !important;"  class="fab fa-facebook-f"></i>
                    </a>
                    {% else %}
                    {% endif %}
                    {% if tw %}
                        <a  style="color: white !important;"  class="text-dark px-2" href="{{tw.link}}">
                        <i  style="color: white !important;"  class="fab fa-twitter"></i>
                    </a>
                    {% else %}
                    {% endif %}
                    {% if link %}
                        <a  style="color: white !important;"  class="text-dark px-2" href="{{link.link}}">
                        <i  style="color: white !important;"  class="fab fa-linkedin-in"></i>
                    </a>
                    {% else %}
                    {% endif %}
                    {% if insta %}
                        <a  style="color: white !important;"  class="text-dark px-2" href="{{insta.link}}">
                        <i  style="color: white !important;"  class="fab fa-instagram"></i>
                    </a>
                    {% else %}
                    {% endif %}
                    {% if youtube %}
                        <a  style="color: white !important;"  class="text-dark pl-2" href="{{youtube.link}}">
                        <i  style="color: white !important;"  class="fab fa-youtube"></i>
                    </a>
                    {% else %}
                    {% endif %}
                    
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="/" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold">
                        {% if logo %}
                            <img style="max-width: 150px;" src="{{logo.image.url}}" alt="">
                        {% else %}
                        {% endif %}
                        </h1>
                </a>
            </div>
            <div class="col-lg-1 col-6 text-left">
               
            </div>
            <div class="col-lg-4 col-6 text-left gosterme">
                <form action="">
                    <div id="box">
                        <input style="width: 100% !important;" type="text" id="search" name="search" class="form-control" placeholder="Ara..">
                        <i class="fa fa-search"></i>
                    </div>
                   
                </form>
            </div>
            <div class="col-lg-1 col-6 text-left">
               
            </div>
            <div class="col-lg-3 col-6 text-right gosterme">
             {% if request.user.is_authenticated %}
                <a href="/users/logout/" style="font-size: 15px;"  class="btn border">Çıkış Yap</a>
                <a href="/sepetebak" style="font-size: 15px;"  class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span style="color: black !important" class="badge">{{ request.user | sepetteki_urun_sayisi}}</span>
                </a>
                {% else %}
                <a href="/users/login/" style="font-size: 15px;" class="btn border">Giriş Yap</a>
                
                <a href="/sepetebak" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span style="color: black !important" class="badge">{{ request | sepetteki_urun_sayisi_kullan}}</span>
                </a>
                {% endif %}
                
            </div>
        </div>
    </div>
    <!-- Topbar End -->