    <!-- Topbar Start -->
    {% load custom_tags %}

    <header id="header" class="typeheader-5">
        
        <!-- Header Top -->
        <div class="header-top hidden-compact"> 
            <div class="container">
                <div class="row">
                    <div class="header-top-left col-lg-3 col-md-4 hidden-sm hidden-xs">           
                        <div class="telephone ">
                            <i class="fa fa-phone"></i> Numaramız: <a style="color: white !important;" href="tel:+{{content.telefon.sirket_numarasi}}">{{content.telefon.sirket_numarasi_gosterilecek_metin}}</a>
                        </div>
                    </div>
                    <div class="header-top-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
                        <ul class="top-link list-inline lang-curr">
                            <li class="currency">
                                <div class="btn-group currencies-block">
                                    
                                </div>
                            </li>   
                            <li class="language">
                                <div class="btn-group languages-block ">
                                    
                                </div>
                                
                            </li>
                        </ul>
                        <ul class="top-log list-inline">                          
                            <li><i class="fa fa-lock"></i><a href="/users/login/">Giriş Yap</a> / </li><li><a href="/users/login/">Kayıt Ol</a></li>
                        </ul>
                    </div>
                </div>
            </div>      
        </div>
        <div class="header-middle hidden-compact">
            <div class="container">
                <div class="row">           
                    <div class="logo-w col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="logo">
                        <a href="/">
                         {% if content.logo %}
                            <img style="max-width: 150px;" src="{{content.logo.image.url}}" alt="">
                        {% else %}
                        {% endif %}
                            </a>
                        </div>                        
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 middle-right">
                        <div class="main-menu-w">
                            <div class="responsive so-megamenu megamenu-style-dev">
                                <nav class="navbar-default">
                                    <div class=" container-megamenu  horizontal open ">
                                        <div class="navbar-header">
                                            <button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>
                                        
                                        <div class="megamenu-wrapper">
                                            <span id="remove-megamenu" class="fa fa-times"></span>
                                            <div class="megamenu-pattern">
                                                <div class="container-mega">
                                                    <ul class="megamenu" data-transition="slide" data-animationtime="250">
                                                        
                                                        <li class="with-sub-menu hover">
                                                            <p class="close-menu"></p>
                                                            <a href="#" class="clearfix">
                                                                <strong>Tüm Kategoriler</strong>                                                                
                                                                <b class="caret"></b>
                                                            </a>
                                                            <div class="sub-menu" style="width: 100%; right: auto;">
                                                                <div class="content" >
                                                                    <div class="row">
                                                                    {% tumkategoriler "" %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        {% kategoi_bilgisi_duzednleme2 "" %}
                                              
                                                        
                                                    </ul>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="search-header-w">
                            <div class="ico-search"><i class="fa fa-search"></i></div>                                
                              
                            <div id="sosearchpro" class="sosearchpro-wrapper so-search ">
                                <form  action="">
                                    <div id="search0" class="search input-group form-group">
                                        <div class="select_category filter_type  icon-select hidden-sm hidden-xs">
                                         
                                        </div>

                                        <input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="ARA " name="search">
                                
                                        <button type="submit" class="button-search btn btn-primary" name="submit_search"><i class="fa fa-search"></i></button>
                                    
                                    </div>
                                    <input type="hidden" name="route" value="product/search" />
                                </form>
                            </div>
                        </div>                                    
                    </div>
                </div>
                <div class="shopping_cart">
                    <div id="cart" class="btn-shopping-cart">
                        <a href="/sepetebak" data-loading-text="Loading... " class="btn-group top_cart dropdown-toggle" >
                            <div class="shopcart">
                                <span class="icon-c">
                                    <i class="fa fa-shopping-basket"></i>
                                </span>
                                <div class="shopcart-inner">
                                    <p class="text-shopping-cart">
                                        Sepetim
                                    </p>

                                    <span class="total-shopping-cart cart-total-full">
                                    <span class="items_cart">
                                    {% if request.user.is_authenticated %}
                {{ request.user | sepetteki_urun_sayisi}}
                {% else %}
                {{ request | sepetteki_urun_sayisi_kullan}}
                
                {% endif %}
                
                
                                    </span>
                                </div>
                            </div>
                        </a>

                     
                    </div>
                </div> 
            </div>
            
        </div>

    </header>
    <!-- //Header Container  -->