{% load custom_tags %}
<div class="menustack">
    <div class="wrapping">
        <ul class="level0">
            <li class="allcats">
                <a class="full_cats" href="javascript:void(0);">Tüm Kategoriler</a>
                <div class="opener">
                    <ul class="open">
                        {% tumkategoriler "" %}
                    </ul>
                </div>
            </li>
            {% kategoi_bilgisi_duzednleme "" %}
        </ul>
    </div>
</div>
<div class="container-fluid fluid" id="baby_header" style="width: 1519px;display: none; position: fixed; top: 0px; left: 0px;">
    <div class="wrapping">
        <div class="grid row">
            <div class="logo " style="max-width: 100px;">
                {% if logo %}
                        <a href="/"><img style="max-width: 100px;" class="mainlogo" src="{{logo.image.url}}" alt=""></a>
                        {% else %}
                        {% endif %}
                
            </div>
            <div class="mainmenu ">

                <ul class="menu">
                    
                    <li class="allc">
                        <a href="javascript:void(0);">Tüm Kategoriler</a>
                        <div class="wrp">
                            <ul class="open">
                                {% tumkategoriler "" %}
                            </ul>
                        </div>
                    </li>
                    {% kategoi_bilgisi_duzednleme2 "" %}
                </ul>
            </div>

        </div>
    </div>
</div>
<nav class="navbar bg-light fixed-top imobile" id="imobile">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <i class="fas fa-solid fa-bars"></i>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>