{% extends 'homebase.html' %}
{% load static %}


{% block title %}Sign In{% endblock title %}
    
{% block content %}
                <div class="p-lg-5 p-4">
                    <div>
                        <h5 class="text-primary">Hoş Geldin !</h5>
                        <p class="text-muted">Giriş Yap</p>
                    </div>

                    <div class="mt-4">
                        <div class="mt-4">
                            <form class="needs-validation" novalidate method="POST" action="">
                                {% for message in messages %}
                                <div class="alert {{ message.tags }} mb-4" role="alert">
                                    <strong>{{ message }}</strong>
                                </div>
                                {% endfor %} 
                                {% if field.help_text %}
                                    <div class="alert alert-danger mb-4" role="alert">
                                        <strong>{{ field.help_text }}</strong>
                                    </div>
                                {% endif %}
                                {% csrf_token %}
                                <div class="mb-3">
                                    {{ form.username }}
                                </div>
                                
                                <div class="mb-3 position-relative">
                                    <div class="float-end">
                                        <a href="" class="text-muted">Şifremi Unuttum?</a>
                                    </div>
                                    {{ form.password }}
                                    <button class="btn btn-link position-absolute mt-4 end-0 top-0 text-decoration-none text-muted" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                </div>

                                <div class="form-check">
                                    {{ form.remember }}
                                </div>
                                
                                <div class="mt-4">
                                    <button class="btn btn-success w-100" type="submit">Giriş Yap</button>
                                </div>
                            </form>
                            <div class="mt-4 text-center">
                                
                            </div>
                            
                        </div>
                    </div>

                    <div class="mt-5 text-center">
                        <p class="mb-0">Hesabın Yok Mu ? <a href="/users/register/" class="fw-semibold text-primary text-decoration-underline"> Hesap Oluştur</a> </p>
                    </div>
                </div>
{% endblock content %}

{% block extra_js %}
        <!-- password-addon init -->
        <script src="{% static 'js/pages/password-addon.init.js'%}"></script>
{% endblock extra_js %}
    