{% extends "homebase.html" %}
{% load custom_tags %}

{% block slider %}
<style>

a {font-size: small; margin-top: 10px; position: relative; display: inline-block;}

.min-max-slider {position: relative; width: 200px; text-align: center; margin-bottom: 50px;}
.min-max-slider > label {display: none;}
span.value {height: 1.7em; font-weight: bold; display: inline-block;}
span.value.lower::before {content: "₺ "; display: inline-block;}
span.value.upper::before {content: "- ₺ "; display: inline-block; margin-left: 0.4em;}
.min-max-slider > .legend {display: flex; justify-content: space-between;}
.min-max-slider > .legend > * {font-size: small; opacity: 0.25;}
.min-max-slider > input {cursor: pointer; position: absolute;}

/* webkit specific styling */
.min-max-slider > input {
  -webkit-appearance: none;
  outline: none!important;
  background: transparent;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 30%, silver 30%, silver 60%, transparent 60%, transparent 100%);
}
.min-max-slider > input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 14px; /* Set a specific slider handle width */
  height: 14px; /* Slider handle height */
  background: #eee; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: 1px solid gray;
  border-radius: 100%;
}
.min-max-slider > input::-webkit-slider-runnable-track {cursor: pointer;}
</style>

        <!-- Shop Start -->
    <div class="container pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-12">
                <!-- Price Start -->
                <div class="border-bottom mb-4 pb-4">
                <ul class="menu" style="list-style-type:none;">
                  
                    
                </ul>
                    
                  
                </div>
                <form>
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Fiyat Aralığı</h5>
                  <label for="min">Minimum Fiyat</label>
                      <input id="min" class="min" name="min" value="{% if request.GET.min %}{{request.GET.min}}{% endif %}" type="number" step="1" min="0" max="1000000" />
                      <br><label for="max">Maximum Fiyat</label>
                      <input id="max" class="max" name="max" value="{% if request.GET.max %}{{request.GET.max}}{% endif %}" type="number" step="1" min="0" max="1000000" />
                </div>
                <!-- Price End -->
                
                <!-- Color Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Marka</h5>
                        {% for i in filtre %}
                          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" name="marka" value="{{i.id}}"  id="color-all{{i.id}}">
                            <label class="custom-control-label" for="color-all{{i.id}}">{{i.filtre_adi}}</label>
                            
                        </div>
                        {% endfor %}
                        
                        
                        <div class="border-bottom mt-4 pb-4">
                          <button class="btn btn-info"  type="submit">ARA</button>
                      </div>
                        
                   
                </div>
                 
                <!-- Color End -->


            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                           
                                <div class="input-group">
                                    <input type="text" style="border: 1px solid black;" value="{% if  request.GET.search %}{{request.GET.search}}{% endif %}"  name="search" class="form-control" placeholder="Ara ..">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent text-primary">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            
                            <div class="dropdown ml-4">
                                <select name="siralama" id="">
                                {% if request.GET.search %}
                                {% if request.GET.search == "0" %}
                                  <option value="{{request.GET.search}}">Sırala</option>
                                {% elif  request.GET.search == "1" %}
                                <option value="{{request.GET.search}}">Artan Fiyata</option>
                                {% elif  request.GET.search == "2" %}
                                <option value="{{request.GET.search}}">Azalan Fiyata</option>
                                {% elif  request.GET.search == "3" %}
                                <option value="{{request.GET.search}}">A 'dan Z 'ye</option>
                                {% elif  request.GET.search == "4" %}
                                <option value="{{request.GET.search}}">En son Eklenenler</option>
                                {% endif %}    
                                {% endif %}
                                  <option value="0">Sırala</option>
                                  <option value="1">Artan Fiyata</option>
                                  <option value="2">Azalan Fiyata</option>
                                  <option value="3">A 'dan Z 'ye</option>
                                  <option value="4">En son Eklenenler</option>
                                </select>
                                
                            </div>
                        </div>
                    </div>
                    </form>
                    {% for i in santiyeler %}
                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="d-flex justify-content-center card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <a href="/urun/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0">
                                <img  style="max-height: 150px;max-width: 150px;min-height: 150px;min-width: 150px;" class="img-fluid w-100" style="max-height: 200px;" src="{{ i|urun_resimleri_alma }}" alt="">
                                </a>
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <a href="/urun/{{i.id}}/{% duzenle i.urun_adi %}" class=" text-dark p-0"><p>{{ i.urun_adi }}</p></a>
                                <div class="d-flex justify-content-center">
                                    <h6>₺ {{i.fiyat}} </h6><h6 class="text-muted ml-2"><del></del></h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-center bg-light border">
                               
                        <a href="/sepet/{{i.id}}/{% duzenle i.urun_adi %}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Sepete Ekle</a>
                            </div>
                        </div>
                    </div>
                     {% endfor %}
                    <div class="col-12 pb-1">
                        <nav aria-label="Page navigation">
                          <ul class="pagination pagination-m justify-content-center">

                            {% if medya.has_previous %}
                              <li class="page-item"><a class="page-link" href="?page={{ medya.previous_page_number }}{% if request.GET.min %}&min={{ request.GET.min }}{% endif %}{% if request.GET.max %}&max={{ request.GET.max }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}">« Öceki Sayfa</a></li>
                            
                              {% if medya.number > 3 %}
                            
                                <li class="page-item"><a class="page-link" href="?page=1{{ medya.previous_page_number }}{% if request.GET.min %}&min={{ request.GET.min }}{% endif %}{% if request.GET.max %}&max={{ request.GET.max }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}">1</a></li>
                                {% if medya.number > 4 %}
                                  <li class="page-item"><span class="page-link">...</span></li>
                                {% endif %}
                              {% endif %}
                            {% endif %}
                            
                            {% for num in medya.paginator.page_range %}
                              {% if medya.number == num %}
                                <li class="page-item"><a class="page-link " style="color:black;" href="?page={{ num }}{% if request.GET.min %}&min={{ request.GET.min }}{% endif %}{% if request.GET.max %}&max={{ request.GET.max }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}">{{ num }}</a></li>
                              {% elif num > medya.number|add:'-3' and num < medya.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.min %}&min={{ request.GET.min }}{% endif %}{% if request.GET.max %}&max={{ request.GET.max }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}">{{ num }}</a></li>
                              {% endif %}
                            {% endfor %}
                            
                            {% if medya.has_next %}
                              {% if medya.number < medya.paginator.num_pages|add:'-3' %}
                                <li class="page-item"><span class="page-link">...</span></li>
                                <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.min %}&min={{ request.GET.min }}{% endif %}{% if request.GET.max %}&max={{ request.GET.max }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                              {% elif medya.number < medya.paginator.num_pages|add:'-2' %}
                                <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.min %}&min={{ request.GET.min }}{% endif %}{% if request.GET.max %}&max={{ request.GET.max }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                              {% endif %}
                            
                              <li class="page-item"><a class="page-link" href="?page={{ medya.next_page_number }}{% if request.GET.min %}&min={{ request.GET.min }}{% endif %}{% if request.GET.max %}&max={{ request.GET.max }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}">Sonraki Sayfa »</a></li>
                            {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->
    <!-- Products Start -->


    <!-- Products End -->
  
    <script>
      var thumbsize = 14;
    
    function draw(slider,splitvalue) {
    
        /* set function vars */
        var min = slider.querySelector('.min');
        var max = slider.querySelector('.max');
        var lower = slider.querySelector('.lower');
        var upper = slider.querySelector('.upper');
        var legend = slider.querySelector('.legend');
        var thumbsize = parseInt(slider.getAttribute('data-thumbsize'));
        var rangewidth = parseInt(slider.getAttribute('data-rangewidth'));
        var rangemin = parseInt(slider.getAttribute('data-rangemin'));
        var rangemax = parseInt(slider.getAttribute('data-rangemax'));
    
        /* set min and max attributes */
        min.setAttribute('max',splitvalue);
        max.setAttribute('min',splitvalue);
    
        /* set css */
        min.style.width = parseInt(thumbsize + ((splitvalue - rangemin)/(rangemax - rangemin))*(rangewidth - (2*thumbsize)))+'px';
        max.style.width = parseInt(thumbsize + ((rangemax - splitvalue)/(rangemax - rangemin))*(rangewidth - (2*thumbsize)))+'px';
        min.style.left = '0px';
        max.style.left = parseInt(min.style.width)+'px';
        min.style.top = lower.offsetHeight+'px';
        max.style.top = lower.offsetHeight+'px';
        legend.style.marginTop = min.offsetHeight+'px';
        slider.style.height = (lower.offsetHeight + min.offsetHeight + legend.offsetHeight)+'px';
        
        /* correct for 1 off at the end */
        if(max.value>(rangemax - 1)) max.setAttribute('data-value',rangemax);
    
        /* write value and labels */
        max.value = max.getAttribute('data-value'); 
        min.value = min.getAttribute('data-value');
        lower.innerHTML = min.getAttribute('data-value');
        upper.innerHTML = max.getAttribute('data-value');
    
    }
    
    function init(slider) {
        /* set function vars */
        var min = slider.querySelector('.min');
        var max = slider.querySelector('.max');
        var rangemin = parseInt(min.getAttribute('min'));
        var rangemax = parseInt(max.getAttribute('max'));
        var avgvalue = (rangemin + rangemax)/2;
        var legendnum = slider.getAttribute('data-legendnum');
    
        /* set data-values */
        min.setAttribute('data-value',rangemin);
        max.setAttribute('data-value',rangemax);
        
        /* set data vars */
        slider.setAttribute('data-rangemin',rangemin); 
        slider.setAttribute('data-rangemax',rangemax); 
        slider.setAttribute('data-thumbsize',thumbsize); 
        slider.setAttribute('data-rangewidth',slider.offsetWidth);
    
        /* write labels */
        var lower = document.createElement('span');
        var upper = document.createElement('span');
        lower.classList.add('lower','value');
        upper.classList.add('upper','value');
        lower.appendChild(document.createTextNode(rangemin));
        upper.appendChild(document.createTextNode(rangemax));
        slider.insertBefore(lower,min.previousElementSibling);
        slider.insertBefore(upper,min.previousElementSibling);
        
        /* write legend */
        var legend = document.createElement('div');
        legend.classList.add('legend');
        var legendvalues = [];
        for (var i = 0; i < legendnum; i++) {
            legendvalues[i] = document.createElement('div');
            var val = Math.round(rangemin+(i/(legendnum-1))*(rangemax - rangemin));
            legendvalues[i].appendChild(document.createTextNode(val));
            legend.appendChild(legendvalues[i]);
    
        } 
        slider.appendChild(legend);
    
        /* draw */
        draw(slider,avgvalue);
    
        /* events */
        min.addEventListener("input", function() {update(min);});
        max.addEventListener("input", function() {update(max);});
    }
    
    function update(el){
        /* set function vars */
        var slider = el.parentElement;
        var min = slider.querySelector('#min');
        var max = slider.querySelector('#max');
        var minvalue = Math.floor(min.value);
        var maxvalue = Math.floor(max.value);
        
        /* set inactive values before draw */
        min.setAttribute('data-value',minvalue);
        max.setAttribute('data-value',maxvalue);
    
        var avgvalue = (minvalue + maxvalue)/2;
    
        /* draw */
        draw(slider,avgvalue);
    }
    
    var sliders = document.querySelectorAll('.min-max-slider');
    sliders.forEach( function(slider) {
        init(slider);
    });
    </script>
{% endblock slider %}